

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('homepage.jpg') %>);">

  <div class="container">
    <h1>Sharing Rides,<strong>Building Connections,</strong>  <strong>  - Carchare</strong>!</h1>
    <p>Unlock the Power of Shared Rides with Carchare: Connect, Share, and Explore the Road Together!"</p>
    <a class="btn btn-flat" href="#"><%= link_to "Book now", cars_path, class:"link-homepage" %></a>
  </div>
</div>
