

<h1>Welcome to the Car Rental App</h1>

<p>Here are the available cars:</p>

<ul>
  <% @cars.each do |car| %>
    <li>
      <%= link_to car.brand, car %>
      <span>(Year: <%= car.year_of_production %>, Price per Day: <%= car.price_per_day %>)</span>
    </li>
  <% end %>
</ul>

<%= link_to "View All Cars", cars_path %>
