  <div class="container">
  <h1>Cars</h1>

  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card bg-ligh mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to car.brand, car %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
